@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fredoka:wght@300..700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(199, 255, 244, 1);

  color: rgba(20, 41, 108, 1);
  font-family: "Cherry Bomb One", system-ui;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(160, 132, 254, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(160, 132, 254, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(160, 132, 254, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  color: rgba(20, 41, 108, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0px 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 90px 10px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-img {
  width: 343px;
  height: 202px;
}
.home-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;

  -webkit-text-stroke: 1px#FFFFFF;
  color: rgba(113, 93, 241, 1);
  padding: 16px 0;
}

.home-text {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(113, 93, 241, 1);
  padding: 0px 0 172px;
}
.home__google-button_image {
  width: 180px;
  height: 57px;
}
.home__google-button_link {
  margin: auto;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 110px 160px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .home-img {
    width: 508.6038818359375px;
    height: 300.30511474609375px;
  }
  .home-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;

    padding: 4px 0 21px;
  }

  .home-text {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 0px 0 40px;
  }
  .home__google-button_image {
    width: 180px;
    height: 57px;
  }
  .home__google-button_link {
    margin: 0;
  }
}
.why {
  width: 375px;
  height: 953px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Features.png");
}

.why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 642px;
    padding: 80px 160px 0 736px;

    background-image: url("/img/Game\ Features\ \(1\).png");
  }

  .why-list {
    padding-top: 61px;
    gap: 0;
  }
}
.uniqueness {
  width: 375px;
  height: 964px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Atmosphere.png");
}

.uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  font-family: Fredoka;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 597px;
    padding: 80px 160px 0;
    background-image: url("/img/Game\ Atmosphere\ \(1\).png");
  }

  .uniqueness-list {
    padding-top: 61px;
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
  }
}
.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1268px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ Game.png");
}

.about-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  -webkit-text-stroke: 1px#FFFFFF99;
  color: rgba(113, 93, 241, 1);
}

.about-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 40px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px 0;
    width: 1440px;
    height: 887px;

    background-image: url("/img/About\ the\ Game\ \(1\).png");
  }

  .about-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 544px;
    gap: 30px;
    padding: 80px 0 0;
  }
}
.how {
  width: 375px;
  height: 862px;

  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-item-two {
  display: flex;
  align-items: center;
  gap: 8px;
}

.how-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(113, 93, 241, 1);
}
.how-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 4px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 705px;
    padding: 80px 160px;
    background-image: url("/img/How\ to\ Play\ \(1\).png");
  }
  .how-list {
    padding-top: 80px;
  }
  .how-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .how-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.reviews {
  width: 375px;
  height: 529px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Reviews.png");
}

.reviews-list {
  padding-top: 40px;
}
.reviews-lists {
  display: none;
}
.reviews-item {
  margin: 0 5px;
  width: 327px;
  height: 147px;

  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(208, 193, 255, 1);
}

.reviews-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(113, 93, 241, 1);
}
.reviews-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 668px;
    padding: 80px 160px 0;
    background-image: url("/img/Reviews\ \(1\).png");
  }

  .reviews-list {
    display: none;
  }
  .reviews-lists {
    display: flex;
    padding-top: 41px;
    flex-wrap: wrap;
    gap: 32px;
  }
  .reviews-item {
    margin: 0px;
    width: 352px;
    height: 159px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 16px;
  }

  .reviews-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.faq {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1301px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/FAQ.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(208, 193, 255, 1);
}

.faq-question {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  color: rgba(113, 93, 241, 1);
}

.faq-answer {
  padding-top: 8px;
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 160px;
    margin: auto;
    width: 1440px;
    height: 977px;
    background-image: url("/img/FAQ\ \(1\).png");
  }
  .faq-container {
    padding-top: 80px;
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .faq-question {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.features {
  width: 375px;
  height: 1405px;
  margin: auto;
  background-image: url("/img/Benefits.png");
  padding: 40px 16px;
}

.features-list {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features-text-bold {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(113, 93, 241, 1);
}
.features-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 887px;
    padding: 80px 160px 0px 738px;
    background-image: url("/img/Benefits\ \(1\).png");
  }
  .features-list {
    padding-top: 61px;
  }

  .features-text-bold {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.footer {
  background: rgba(160, 132, 254, 1);

  color: #ffffff;
  width: 375px;
  height: 217px;

  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin: auto;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    height: 227px;

    padding-top: 40px;
    padding-right: 160px;
    padding-bottom: 16px;
    padding-left: 160px;
  }

  .footer-text {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 124px 16px 40px;
}
.policy-terms-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(113, 93, 241, 1);
}

.policy-terms-text {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Fredoka;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;

  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
  }
  .policy-terms-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  border-radius: 24px;
  padding: 32px;
  background: rgba(81, 21, 187, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(241, 238, 233, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  width: 256px;
  border-radius: 28px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border: 1px solid rgba(252, 255, 254, 1);
  background-color: transparent;
  font-family: Fredoka;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(252, 255, 254, 1);
}
#accept-cookies {
  background: rgba(252, 255, 254, 1);
  color: rgba(30, 26, 37, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 618px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
